---
layout: default
---

<div class="home">
  {% if site.posts.size > 0 %}
    <h2>Read in order</h2>
    {% assign ordered_posts = site.posts | sort: "date" %}
    <ol class="post-list">
      {% for post in ordered_posts %}
        <li>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h3>
          <small>{{ post.date | date: "%B %-d, %Y" }}</small>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p>No posts yet.</p>
  {% endif %}
</div>
